# Компиляция и сборка
build/
dist/
*.spec
__pycache__/
*.pyc

# Временные файлы
*.log
*.tmp

# IDE
.vscode/
.idea/
*.code-workspace

# Системные файлы
Thumbs.db
.DS_Store

# Игнорировать все .exe, кроме oxipng.exe
*.exe
!oxipng.exe

# Бэкапы и старые версии
backup_flet/
*.bak
*.backup

# Файлы проекта (документация)
project_structure.txt
*.md
!README.md

# Инсталляторы
*.iss
QuickTools_Setup.exe